body {
    font-family: Arial, sans-serif;
    background-color: #ecf0f1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
}

header {
    position: relative;
}

.back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 20px;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    transform: translateY(-50%);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.back-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.back-button img {
    height: auto;
}

li {
    text-align: left;
}

.game-container {
    text-align: center;
    max-width: 600px;
    margin: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    color: #3498db;
    margin: 0 2rem;
    font-size: 2.3rem;
    text-transform: uppercase;
}

h2 {
    font-size: 1.5rem;
    margin: 0.6rem;
}

.score-board {
    margin-bottom: 20px;
    font-size: 20px;
}

.game-board {
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opcion {
    margin: 5px;
    min-width: 200px;
}

.restart-button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.restart-button:hover {
    background-color: #217dbb;
}

@media (max-width: 600px) {
    .game-board {
        margin: auto;
        padding: 1rem 2rem;
    }
    .opcion {
        width: 100%;
        margin: 5px 0;
    }
    h1 {
        font-size: 1.5rem;
    }
}
